@import "../OtherSassFiles/Constants";

footer {
  display: flex;
  justify-content: space-between;
  background-color: $mainThemeColor;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}

.footerText{
  padding-left: 15px;
}

.footerLink {
  text-decoration: none;
  color: #fff;
  float: right;
  padding-right: 20px;
}

.footerLink:hover {
  text-decoration: underline;
  color: #fff;
}

@media (min-width: 768px) {
  footer {
    position: fixed;
  }
}
