
@import "../OtherSassFiles/Constants";﻿


img.userImage {
  height: 100px;
  width: 100px;
  border: 1px solid $mainThemeColor;
  border-radius: 50%;
}

.userProfileName{
  color: white;
  background-color: $mainThemeColor;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 20%;
}

.userProfileContents {
  display: flex;
  width: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  border: solid 3px $mainThemeColor;
  border-radius: 5%;
  margin: 10px;
  background-color: white;
}
.userProfileEmail{
  font-size: 12px;
}

.userProfileUsername{

}